{% extends "general/base.html" %}

{% block content %}
<div class="w-full justify-center px-48">
  <div class="flex flex-col justify-center my-10">
    {{ Breadcrumbs | safe }}

    <div class="flex flex-col sm:flex-row justify-center">
      <img
        style="aspect-ratio: 10/12"
        class="w-72 sm:w-80 rounded-xl object-cover mb-5 mr-16"
        src="{{products_query.image}}"
        alt="image"
      />
      <div class="w-10"></div>
      <div class="flex flex-col">
        <h1 class="font-bold text-2xl sm:text-4xl mb-5">{{products_query.name}}</h1>
        <p class="mb-5 text-2xl text-red-600 font-bold">
          {{ '{:,.0f}'.format(products_query.price).replace(',', '.')}} vnđ
        </p>
        <p class="mb-5 text-base">
          <b>Dành cho: </b>
          {% for platform in platforms_of_products%} {{platform.platform_name}} {%
          if not loop.last %}, {% endif %} {% endfor %}
        </p>
        <p class="mb-5 text-base">
          <b>Thương hiệu: </b>
          {{brand.brand_name}}
        </p>
        <p class="mb-5 text-base">
          <b>Thể loại: </b>
          {% for genre in genres_of_products%} {{genre.genre_name}} {% if not
          loop.last %}, {% endif %} {% endfor %}
        </p>
        <p class="mb-5 text-base">
          <b>Mô tả sản phẩm:</b> 
          {{products_query.description}}</p>
                <form action={{ url_for('cart.cart_add') }} method="POST">
          <input type="hidden" name="products_id" value="{{products_id}}">         
          <button
            class="font-bold px-20 py-2 text-white bg-red-600 hover:bg-red-700 duration-300 rounded-full my-5">
            Thêm vào giỏ hàng
          </button>
        </form>
      </div>
    </div>
    <p class="mt-8 text-justify">
      <b>Chính sách trả hàng và hoàn tiền: </b>
      Theo chính sách của chúng tôi, khách hàng có quyền trả lại sản phẩm trong một số trường hợp cụ thể. 
      Để đảm bảo quyền lợi của khách hàng, PetMart áp dụng thời gian trả hàng trong vòng 30 ngày kể từ ngày mua sản phẩm. Tuy nhiên, đối với các sản phẩm như thức ăn hoặc đồ chơi liên quan đến sức khỏe của thú cưng, chúng tôi yêu cầu khách hàng kiểm tra kỹ trước khi mua để đảm bảo tính an toàn và vệ sinh. 
    </p>
    <p class="mt-8 text-justify">
      <b>Chính sách vận chuyển: </b>
      PetMart áp dụng một khoản phí vận chuyển tiêu chuẩn cho mỗi đơn hàng được gửi đi. PetMart cam kết duy trì mức phí vận chuyển hợp lý và cạnh tranh để đảm bảo sự công bằng cho khách hàng.
    </p>
  </div>
</div>
{% endblock %}
