<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--add this code to using tailwind -->
    <link rel="stylesheet" href="../../static/output.css" />
    <title>PetMart | Đăng ký</title>
    <style>
      .bg-radial {
        background: #fafafa;
      }
    </style>
  </head>
  <body>
    <section
      class="bg-radial bg-white shadow-xl min-h-screen flex items-center justify-center"
    >
      <div class="py-12 px-28 flex bg-white rounded-2xl shadow-lg max-w-3xl">
        <form action="" class="flex flex-col">
          <h2 class="text-red-600 font-bold text-3xl mb-5 flex-col">Đăng ký</h2>
          <p class="py-2 mt-1 text-sm text-gray-700">Tài khoản đăng nhập:</p>
          <input
            class="p-2 w-60 rounded-3xl border text-black"
            type="text"
            name="email"
            placeholder="Tên tài khoản"
          />
          <p class="py-2 mt-1 text-sm text-gray-700">Email:</p>
          <input
            class="p-2 w-60 rounded-3xl border text-black"
            type="text"
            name="email"
            placeholder="Email"
          />
          <p class="py-2 mt-1 text-sm text-gray-700">Mật khẩu</p>
          <input
            class="p-2 w-60 rounded-3xl border text-black"
            type="password"
            name="password"
            placeholder="Mật khẩu"
          />
          <p class="py-2 mt-1 text-sm text-gray-700">Confirm Password:</p>
          <input
            class="p-2 w-60 rounded-3xl border text-black"
            type="password"
            name="password"
            placeholder="Xác nhận mật khẩu"
          />
          <button
            class="bg-red-700 w-60 rounded-3xl py-2 text-white font-bold font-medium mt-10"
          >
            Đăng ký
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
