<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../static/output.css">
    <link rel="stylesheet" href="../../../static/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../../static/assets/img/favicon-32x32.png">
    <title>PetMart | Trang chủ</title>
  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% include "includes/toast.html" %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <nav 
      class="navbar h-10 md:h-20 sticky top-0 w-full z-10 shadow-md"
      style="background-color: #fafafa"
    >
      <div class="nav-container h-full w-full px-6 md:px-8 lg:px-24 flex justify-center items-center">
        <div class="navbar-toggler md:hidden order-first">
          <i class="fa-solid fa-bars p-2"></i>
        </div>
        
        <div class="logo-container md:order-first pr-20">
          <a href={{ url_for('general.index') }}>
            <img src="../../../static/assets/img/logo-01.png" alt="petmart" class="w-10 md:w-100 lg:w-36">
          </a>
        </div>

        <div class="navbar-content flex justify-around items-center">
          <ul class="navbar-nav hidden md:flex">
            <li class="nav-item hover:text-primaryColor font-semibold mx-3 transition-all">
              <a href={{ url_for('general.index') }} class="px-1 pt-8">TRANG CHỦ</a>
            </li>
            <li class="nav-item hover:text-primaryColor font-semibold mx-3 transition-all">
              <a href={{ url_for('products.index') }} class="px-1 pt-8">SIÊU THỊ THÚ CƯNG</a>
            </li>
            <li class="nav-item hover:text-primaryColor font-semibold mx-3 transition-all">
              <a href="/shops/shops.html" class="px-1 pt-8">HỆ THỐNG CỬA HÀNG</a>
            </li>
            <li class="nav-item group mx-3 transition-all relative">
              <span class="px-1 pt-8 group-hover:text-primaryColor cursor-pointer font-semibold
              after:content-[''] after:block after:absolute after:top-[15px]
              after:-right-8 after:h-8 after:w-24">
                DỊCH VỤ
              </span>
              <ul class="subnav absolute hidden group-hover:block w-52
              top-[120%] -right-8 mt-2 bg-white shadow-md rounded-md overflow-hidden">
                <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600 px-2 pt-3 pb-2">
                  <a href="#" class="block w-full">Cắt tỉa lông chó, mèo</a>
                </li>
                <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600 px-2 py-2">
                  <a href="#" class="block w-full">Khách sạn chó mèo</a>
                </li>
                <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600 px-2 pt-2 pb-3">
                  <a href="#" class="block w-full">Tắm chó, mèo tận nơi</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="navbar-user md:ml-3 lg:ml-11 pl-4 flex items-center">
            {% if session['current_user'] %}
            <ul>
              <li class="nav-item group mx-3 transition-all relative">
                <a href="#" class="user-auth group md:flex items-center mr-6">
                  <i class="fa-solid fa-user-alt text-xl mr-4"></i>
                <ul class="subnav absolute hidden group-hover:block w-60
                top-[120%] -right-8 bg-white shadow-md rounded-md overflow-hidden">
                  <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600 px-2 py-2">
                    <a class="mr-8 font-bold">{{ session['current_user']['name'] }}</a>
                  </li>
                  <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600 px-2 pt-3 pb-2">
                    <a class="mr-8"><b>Số dư:</b> {{ session['current_user']['budget'] | currency}}</a>
                  </li>
                  <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600 px-2 pt-2 pb-3">
                    <a href="#" class="block w-full">Đăng xuất</a>
                  </li>
                </ul>
                </a>
              </li>
            </ul>
            {% else %}
            <ul>
              <li class="nav-item group mx-3 transition-all relative">
                <a href="#" class="user-auth group md:flex items-center mr-6">
                  <i class="fa-solid fa-user-alt text-xl mr-4"></i>
                <ul class="subnav absolute hidden group-hover:block w-60
                top-[120%] -right-8 mt-2 bg-white shadow-md rounded-md overflow-hidden">
                  <li class="subnav-item hover:bg-[whitesmoke] hover:text-slate-600>
                    <a href="#" class="block w-full">Đăng nhập</a>
                  </li>
                </ul>
                </a>
              </li>
            </ul>
            {% endif %}
            <div class="relative group p-2">
              <a href={{ url_for('cart.index') }} class="user-cart relative flex items-center">
                <img src="../../static/assets/img/cartbutton.png" alt="cart" class="w-32">
                <p class="cart-quantity absolute text-xs md:text-base px-1 ml-24 -top-2 
                left-3 md:-top-4 md:left-4 h-auto md:h-6 text-white bg-primaryColor
                min-w-[12px] md:min-w-[24px] text-center font-bold rounded-2xl">
                  {{ session['cart_length'] }}
                </p>
              </a>

              <div id="popup-cart" class="absolute top-10 -right-4 bg-white w-[380px] pb-4 rounded-xl shadow-lg
              hidden group-hover:block mt-4
              before:block before:content-[''] before:w-0 before:h-0 before:absolute
              before:-top-1 before:right-7 before:border-b-4 before:border-x-[6px] before:border-x-transparent before:border-b-[var(--primaryColor)]
              after:block after:content-[''] after:w-10 after:h-8 after:absolute
              after:-top-3 after:right-1
              ">
                <div class="max-h-96 overflow-y-scroll">
                  {% if (session['cart_length'] <= 0) %}
                    <p class="text-sm italic p-4 text-center">Giỏ hàng của bạn hiện đang trống</p>
                  {% else %}
                    {% for products in session['cart'] %}
                    <div class="px-3 py-2 first-of-type:pt-4 last:pb-4 flex gap-4 hover:bg-[whitesmoke] hover:text-slate-600 rounded-lg">
                      <div class="h-20 shrink-0 overflow-hidden">
                        <img src={{ products['image'] }} alt="{{ products['image'] }}"
                        class="h-full object-cover rounded" style="aspect-ratio: 4/5">
                      </div>
                      <div class="grow flex justify-between">
                        <p class="text-sm w-40">{{ products['name'] }}</p>
                        <p class="text-sm font-semibold">{{ products['price'] | currency}}</p>
                      </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>
                <hr class="opacity-50">
                <div class="px-3 py-2 flex justify-between">
                  <p class="text-base font-medium italic">Tổng giá trị giỏ hàng:</p>
                  <p class="text-base font-semibold">{{ session['subtotal'] | currency }}</p>
                </div>
                <a href={{ url_for('cart.index') }} class="block mx-auto mt-3 leading-8 h-8 w-72 text-red-500
                transition-all text-center font-medium">Xem toàn bộ giỏ hàng</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    
    {% endblock content %}

    <footer class="pt-10 px-20 pb-4">
      <div id="footer_nav" class="pb-16 px-28 flex justify-between flex-wrap">
        <div class="footer_nav-products">
          <h5 class="font-semibold mb-4">SẢN PHẨM</h5>
          <ul>
            <li>
              <a href="" class="block py-2">Sản phẩm cho chó</a>
            </li>
            <li>
              <a href="" class="block py-2">Sản phẩm cho mèo</a>
            </li>
            <li>
              <a href="" class="block py-2">Sản phẩm cho chuột</a>
            </li>
            <li>
              <a href="" class="block py-2">Sản phẩm cho cá</a>
            </li>
            <li>
              <a href="" class="block py-2">Sản phẩm cho chim</a>
            </li>
            </ul>
        </div>

        <div class="footer_policies">
          <h5 class="font-semibold mb-4">CHÍNH SÁCH</h5>
          <ul>
            <li>
              <a href="#" class="block py-2">Điều khoản & điều kiện</a>
            </li>
            <li>
              <a href="#" class="block py-2">Chính sách giao hàng</a>
            </li>
            <li>
              <a href="#" class="block py-2">Chính sách hoàn tiền</a>
            </li>
            <li>
              <a href="#" class="block py-2">Chính sách bảo hành </a>
            </li>
            <li>
              <a href="#" class="block py-2">Quyền riêng tư</a>
            </li>
          </ul>
        </div>

        <div class="footer_store-info">
          <h5 class="font-semibold mb-4">VỀ PETMART</h5>
          <ul>
            <li class="py-2">
              Địa chỉ: Số 3 Đại Cồ Việt, Phường Cầu Dền, Quận Hai Bà Trưng
            </li>
            <li class="py-2">
              Giờ mở cửa: Thứ 2 - Chủ nhật: 8 A.M - 10 P.M
            </li>
            <li class="py-2">
              <a href="https://mail.google.com/mail/u/0/">Email: <u>petmart@gmail.com</u></a>
            </li>
            <li class="py-2">
              Số điện thoại: 028-7106-9906
            </li>
          </ul>
        </div>
      </div>
     
      <div id="community" class="flex justify-between px-2 pt-4">
        <div class="big-logo flex justify-between items-center pr-16">
          <img src="../../static/assets/img/20c7fcfd-1308-4469-b3a2-eebffd26af8d.png" alt="petmart-big" class="w-36">
          <div class="info pl-8 w-96">
            <p class="font-semibold mb-2 tracking-wide">2023 © CÔNG TY PETMART VIỆT NAM</p>
          <p class="font-regular mb-2 text-xs text-justify tracking-wide">Nội dung và hình ảnh bài viết trên trang petmart.vn và petmart.info đã được đăng ký bản quyền Digital Millennium Copyright Act (DMCA) theo tiêu chuẩn Creative Commons Attribution-NoDerivs 3.0 Unported License. Vui lòng dẫn link nguồn khi sao chép các bài viết trên trang này.</p>
          </div>
        </div>
        <div class="certification pr-16">
          <img src="../../static/assets/img/cert.png" alt="cert" class="w-56">
        </div>
        <div class="community-link pr-16">
          <p class="font-semibold mb-8 tracking-wide">Kết nối với chúng tôi</p>
          <div class="flex justify-between">
            <a href="#" class="pr-5">
              <i class="text-3xl fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="px-5">
              <i class="text-3xl fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="px-5">
              <i class="text-3xl fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
