{% extends "general/base.html" %}

{% block content %}
<div>
    <!--CAROUSEL JS  AND CSS| SwiperJS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    
    <!--HERO SECTION-->
    <div id="hero-section">
            <div class="hero-container flex justify-center px-24 mt-8">
                <div class="themepic mt-8 mb-4 pt-10 pb-10">
                    <img src="static/assets/img/themepic-07.png" alt="themepic" class="w-[600px]">
                </div>
                <div class="hero-content mt-8 pt-10 pb-10 pl-20 w-[800px]">
                    <p class="text-base font-semibold mb-5">HỆ THỐNG CỬA HÀNG THÚ CƯNG</p>
                    <img src="../../../static/assets/img/logo-01.png" alt="petmart big" class="w-56">
                    <p class="text-justify mt-5">Pet Mart là chuỗi pet shop thú cưng chuyên cung cấp đồ dùng, quần áo, thức ăn, sữa tắm, chuồng, vòng cổ xích và các phụ kiện cho Chó cảnh, Mèo cảnh, Cá cảnh. Đồng thời là địa chỉ nhận tắm spa, chăm sóc, cắt tỉa lông và trông giữ thú cưng chuyên nghiệp. Chia sẻ kinh nghiệm chăm sóc Thỏ cảnh, Chuột cảnh, Sóc cảnh, Chim cảnh, Bò sát cảnh.<br/>
                        <br/>
                        Thành lập vào năm 2012, tới nay Pet Mart đã có mặt ở hầu hết các tỉnh, thành trên cả nước. Đặc biệt là các thành phố lớn như Hà Nội, TP. HCM, Đà Nẵng... Đây cũng chính là hệ thống cửa hàng thú cưng lớn nhất trên cả nước.<br/>
                        <br/>
                        Với chất lượng dịch vụ tốt nhất, luôn được khách hàng tin tưởng, Pet Mart sẽ là điểm đến lý tưởng và tuyệt vời dành cho vật nuôi.</p>
                        <div class="flex md:flex">
                            <a href="{{ url_for('products.product_detail', product_id=products_hero_section.id) }}" 
                            class="block mt-5 mr-2 w-52 h-10 text-black
                            font-bold py-2 px-8 text-center rounded-[35px] border-black border-2  hover:text-white hover:bg-primaryColor
                           transition-all duration-200">Đi tới cửa hàng</a>
                           <a href="{{ url_for('products.product_detail', product_id=products_hero_section.id) }}" 
                            class="block mt-5 mr-2 w-[200px] min-h-12 text-black
                            font-bold py-2 pl-8 px-8 text-center hover:text-primaryColor
                           transition-all duration-200">Liên hệ tư vấn</a>
                             
                        </div>
                </div>
            </div>
            <div class="w-full bg-bgColor h-16"></div>
    </div>
    <div class="theme-video flex justify-center px-24">
        <iframe class="w-[1000px] h-[566px] rounded-3xl flex justify-center" src="https://www.youtube.com/embed/9qvh_CSAFJw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" alt="Chào mừng đến với siêu thị thú cưng PetMart"></iframe>
    </div>
    
   

<!--FEATURED AND RECOMMENDED SECTION (Based on highest price and played on PC platform)-->
    <div id="best-sellers-section" class="flex flex-col items-center mt-24" style="padding-bottom: 96px">
        <div class="best-sellers_header w-full px-24 flex justify-between">
            <h1 class="text-3xl font-semibold">DỊCH VỤ</h1>
            <a class="block text-black
            w-36 h-10 font-semibold text-center leading-10 rounded-[35px]
             hover:text-primaryColor cursor-pointer transition-all duration-200 italic"> Xem thêm</a>
        </div>
        <div>
            <img src="static/assets/img/dichvu3.png" alt="dichvu" class="dichvu cursor-pointer mt-8 px-24">
        </div>
        <div class="carousel-container swiper w-full" style="padding: 0 96px;">
            
        </div>
    </div>

 <!--BEST SELLER SECTION-->
    <div id="best-sellers-section" class="flex flex-col items-center mt-12">
        <div class="best-sellers_header w-full px-24 flex justify-between">
            <h1 class="text-3xl font-bold">BÁN CHẠY</h1>
            <a href={{ url_for('products.best_sellers') }} class="block text-black
            w-36 h-10 font-semibold text-center leading-10 rounded-[35px]
             hover:text-primaryColor cursor-pointer transition-all duration-200 italic"> Xem thêm</a>
        </div>
        <div class="carousel-container swiper w-full" style="padding: 0 96px;">
            <div class="product-carousel mt-16 overflow-hidden" style="width: 100%;">
                <div class="swiper-wrapper" style="height:auto !important;">
                    {% for product in products_best_seller %}
                        <div class="swiper-slide flex flex-col items-center text-center">
                            <a href={{ url_for('products.product_detail', product_id=product.id) }} class="group flex flex-col items-center">
                                <div class="h-[220px] w-[220px] rounded-3xl overflow-hidden">
                                    <img src={{ product.image }} alt="products Image" 
                                    class="h-[220px] w-[220px] shadow-xl object-cover rounded-3xl group-hover:scale-125 transition-all duration-300">
                                </div>
                                <h4 class="mt-4 w-72 text-base font-semibold truncate">{{ product.name }}</h4>
                                <p class="mt-2">{{ product.price|currency }}</p>
                            </a>
                            <form action={{ url_for('cart.cart_add') }} method="POST">
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <button type="submit" class="mt-3 h-10 w-64 rounded-[35px] bg-primaryColor text-white font-semibold hover:opacity-70 transition-all">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev after:text-white" style="left: 3%"></div>
                <div class="swiper-button-next after:text-white" style="right: 3%"></div>
            </div>
        </div>
    </div>

    <!--GENRES SECTION-->
    <div id="genre-section" class="flex flex-col items-center px-24 mt-16 pt-20" 
    style="padding-bottom: 100px;">
        <div class="genres_header w-full mb-20 flex justify-between">
            <h1 class="text-3xl font-bold">THƯƠNG HIỆU</h1>
            <a href={{url_for('products.index')}} class="block text-black
            w-36 h-10 font-semibold text-center leading-10 rounded-[35px]
             hover:text-primaryColor cursor-pointer transition-all duration-200 italic">Xem thêm</a>
        </div>
        <div class="grid grid-cols-4 gap-10">
            <a href={{ url_for('products.filter_products', genre = "PAW") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2020/12/paw-300x300.jpg" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">PAW</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "ROYAL CANIN") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://logowik.com/content/uploads/images/royal-canin2199.jpg" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">ROYAL CANIN</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "CatSeaFish") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2021/06/cat-sea-fish-300x300.jpg" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">CatSeaFish</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "Pedigree") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2021/08/logopedigree-300x300.jpg" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">Pedigree</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "MKB") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2020/12/mkb-300x300.png" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">MKB</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "Whiskas") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://seeklogo.com/images/W/Whiskas-logo-1465077BB3-seeklogo.com.png" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">Whiskas</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "TRIXIE") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2020/12/trixie-300x300.png" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">TRIXIE</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "BIOLINE") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2020/12/bioline.jpg" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">BIOLINE</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "BOBBYPET") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2020/12/bobbypet-300x300.jpg" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">BOBBYPET</p>
            </a>
            <a href={{ url_for('products.filter_products', genre = "MAKAR") }} class="genre-item group flex flex-col items-center">
                <div class="w-60 h-60 mx-8 rounded-3xl overflow-hidden relative">
                    <img src="https://www.petmart.vn/wp-content/uploads/2020/12/makar-300x300.png" 
                    class="h-full object-cover group-hover:h-[120%] transition-all duration-500">
                    <div class="w-full h-full opacity-50 -top-[100%] group-hover:bg-gradient-to-t 
                    group-hover:from-primaryColor group-hover:to-transparent absolute group-hover:top-0 transition-all duration-300"></div>
                </div>
                <p class="text-xl mt-3">MAKAR</p>
            </a>
        </div>
    </div>

    
    
    <!--NEWSLETTER SECTION-->
    <div id="newsletter-section" class="relative">
        <div class="h-[568px] absolute top-0 -z-10 w-full bg-no-repeat bg-cover bg-fixed"
        style="background-image: url('static/assets/img/general-ending-image.png');"
        ></div>
        <!--
        <img src="static/assets/img/general-ending-image.png"
        class="h-[568px] w-full absolute top-0 -z-10 object-cover">
        -->
        <div class="pt-16 pb-16 text-center flex flex-col items-center ">
            <p class="w-60 mt-6">ĐĂNG KÝ ĐỂ NHẬN THÔNG TIN KHUYẾN MÃI VÀ TẠP CHÍ HÀNG TUẦN</p>
            <div class="mt-10">
                <form action="" method='POST' class="flex flex-col items-center w-[500px]">
                    <span>Email *</span>
                    <input type="text" name="newsletter-email" placeholder="example@email.com"
                    class="w-full h-12 px-4 py-2 text-center rounded-tl-xl rounded-tr-xl border-2 
                    border-solid focus:border-orange-600 bg-transparent text-white outline-none
                    transition-all placeholder:italic">
                    <button type="submit" class="w-full h-12 text-bgColor bg-white rounded-bl-xl rounded-br-xl 
                    font-semibold border-2 border-solid border-white transition-all
                    hover:text-white hover:bg-primaryColor">Subcribe</button>
                </form>
            </div>
        </div>
    </div>

    <!--BLOCK ENDING-->
    <div id="ending-section">

    </div>

    <script>
        swiperSlides = document.querySelectorAll('.swiper-slide').length;
            if (swiperSlides < 8) {
                slidesPerView = swiperSlides / 2;
            } else {
                slidesPerView = 4
            }
            var swiper = new Swiper(".product-carousel", {
                slidesPerView: slidesPerView,
                spaceBetween: 32,
                loop: true,
                grabCursor: 'true',
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });
    </script>
</div>
{% endblock content %}